<nav>
  <div class="container">
    <div class="navbar">
      <div class="navbar-left">
        <a routerLink="/"><img class="logo" src="logo.png" height="64px" width="64px"></a>
        <a href="#">Trade</a>
        <a href="#" routerLink="{{currentUser ? '/trading' : '/'}}">Market</a>
        <a href="#">About Us</a>
      </div>
      <div class="navbar-right">
        <button *ngIf="!currentUser" class="btn-login"  routerLink="/login">Log In</button>
        <button *ngIf="!currentUser" class="btn-register" routerLink="/registration">Register</button>
        <span *ngIf="currentUser" class="welcome" >Welcome: <a routerLink="/profile">{{currentUser}}</a></span>
        <button class="btn-logout" (click)="logout()" *ngIf="currentUser">Logout</button>
      </div>
    </div>
  </div>
</nav>
