<nav>
  <div class="container">
    <div class="navbar">
      <div class="navbar-left">
        <a href="#"><img class="logo" src="https://o.remove.bg/downloads/207ffbbf-9b6f-4f05-a406-210d82738db3/png-transparent-bitcoin-com-cryptocurrency-logo-zazzle-bitcoin-text-trademark-logo-thumbnail-removebg-preview.png" height="64px" width="64px"></a>
        <a href="#">Buy Crypto</a>
        <a href="#">Market</a>
        <a href="#">About Us</a>
      </div>
      <div class="navbar-right">
        <button class="btn-login" *ngIf="!isLoggedIn" routerLink="/login">Log In</button>
        <button class="btn-register" *ngIf="!isLoggedIn" routerLink="/register">Register</button>
        <span class="welcome" *ngIf="isLoggedIn">Welcome!</span>
      </div>
    </div>
  </div>
</nav>
