<app-navbar></app-navbar>
<div class="profile-container">
    <div  class="profile-header">
      <h2>Welcome Back, {{ (authService.currentUser$ | async)?.username }}</h2>
      <a href="" (click)="logout()" class="logout-link">Log Out</a>
    </div>
    <div class="profile-body">
      <div class="wallet-container">
        <h3>Your Wallet</h3>
        <div class="wallet-info">
          <p>Balance: </p>
          <p>Address: {{ (authService.currentUser$ | async)?.public_address }} </p>
        </div>
        <button class="send-button" routerLink="/trading">Send Crypto</button>
      </div>
      <div class="trade-container">
        <h3>Trade History</h3>
        <table>
          <thead>
            <tr>
              <th>Crypto ID</th>
              <th>Amount</th>
              <th>Amount</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let wallet of wallets">
              <td>{{wallet.crypto_id}}</td>
              <td>{{wallet.amount}}</td>
              <td>Amount</td>
              <td>Price</td>
            </tr>
            <!-- Repeat this row for each trade in history -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  