<body>


<app-navbar></app-navbar>

<div class="crypto-container">


  <form [formGroup]="orderForm" (ngSubmit)="submitOrder()" class="crypto-buy-sell">
    <h3 class="crypto-header">{{ selectedOrder }} Crypto</h3>

    <div class="form-group">
      <label for="crypto-type">Crypto Type</label>
      <select formControlName="crypto_name" id="crypto-type" name="crypto" class="form-control">
        <option value="BTC">BTC</option>
        <option value="ETH">ETH</option>
        <option value="ADA">ADA</option>
      </select>
    </div>

    <div class="form-group">
      <label for="crypto-amount">Crypto Amount</label>
      <input id="crypto-amount" type="number" formControlName="amount" placeholder="Enter amount" class="form-control">
    </div>

    <div class="form-group">
      <label for="fiat-type">Fiat Type : USD</label>
      <select id="fiat-type" class="form-control">
        <option value="usd">USD</option>
      </select>
    </div>

    <div class="form-group">
      <label>Choose order</label>
      <select formControlName="operation" class="form-control">
        <option value="buy">Buy order</option>
        <option value="sell">Sell order</option>
      </select>
    </div>

    <div class="form-group">
      <button class="order-button" type="submit">Order</button>
    </div>
  </form>
</div>


  
</body>
<app-footer></app-footer>