<app-navbar></app-navbar>
<div class="crypto-trading-page">
    <div class="crypto-header">
      <h2>Trade Crypto</h2>

    </div>

    <div class="crypto-trading-body">
      <div class="crypto-market-info">
        <div class="crypto-market-stats">
          <div class="crypto-market-stat">
            <h3>Bitcoin</h3>
            <p class="crypto-price">$55,000.00</p>
            <p class="crypto-percent-change positive">+5.00%</p>
          </div>
          <div class="crypto-market-stat">
            <h3>Ethereum</h3>
            <p class="crypto-price">$3,200.00</p>
            <p class="crypto-percent-change negative">-2.50%</p>
          </div>
          <div class="crypto-market-stat">
            <h3>Cardano</h3>
            <p class="crypto-price"></p>
            <p class="crypto-percent-change positive">+7.20%</p>
          </div>
        </div>
        <div class="crypto-market-charts">
          <h3>Market Charts</h3>
          <div class="crypto-chart">
            <img src="assets/images/bitcoin-chart.png" alt="Bitcoin Chart">
          </div>
          <div class="crypto-chart">
            <img src="assets/images/ethereum-chart.png" alt="Ethereum Chart">
          </div>
          <div class="crypto-chart">
            <img src="assets/images/litecoin-chart.png" alt="Litecoin Chart">
          </div>
        </div>
      </div>

      <form  [formGroup]="buyForm" (ngSubmit)="buy()" class="crypto-buy-sell">
        <h3>Buy/Sell Crypto</h3>
        <div class="crypto-inputs">
          <div class="crypto-input">
            <label for="crypto-type">Crypto Type</label>
            <select formControlName="crypto_name" id="crypto-type" name="crypto">
              <option  value="BTC">BTC</option>
              <option  value="ETH">ETH</option>
              <option  value="ADA">ADA</option>
            </select>
          </div>
          <div class="crypto-input">
            <label for="crypto-amount">Crypto Amount</label>
            <input id="crypto-amount" type="number" formControlName="amount" placeholder="Enter amount">
          </div>
          <div class="crypto-input">
            <label for="fiat-type">Fiat Type</label>
            <select id="fiat-type">
              <option value="usd">USD</option>
              <option value="eur">EUR</option>
              <option value="gbp">GBP</option>
            </select>
          </div>

        </div>
        <div class="crypto-button-container">
          <button class="buy-button" type="submit">Buy</button>
          <button class="sell-button">Sell</button>
        </div>
      </form>
    </div>
  </div>
  <ul></ul>
